# Generate .env from this file with ./generate-env.sh.
ELASTIC_PASSWORD=
ELASTIC_VERSION=9.5.3
KIBANA_ENCRYPTION_KEY=
KIBANA_PASSWORD=

# Populate these after creating a Fleet Server policy in Kibana.
FLEET_SERVER_POLICY_ID=fleet-server-policy
FLEET_SERVER_SERVICE_TOKEN=replace-me
